.headers {
  display: block;
  height: 139px;
  z-index: 999;
  position: relative;
  background: transparent;
}

.header {
  width: 80%;
  display: flex;
  margin: auto;
  flex-direction: row;
  align-items: center;
}

.head-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.head-menu {
  display: inline-flex;
}

.head-menu a {
  color: white;
  margin-left: 55px;
}

.head-menu a:hover {
  color: var(--orange-text);
}

.head-reg {
  margin-left: auto;
}
.head-button {
  background: var(--orange-text);
  height: 33px;
  color: white;
  border-radius: 27px;
  padding: 10px 25px 10px 25px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.head-mobile {
  display: none;
}
.hide-mobile-menu {
  display: none;
}
.show-mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 20px;
}

.show-mobile-menu a {
  color: white;
}
.des-hide {
  display: none;
}

@media screen and (max-width: 800px) {
  .headers {
    height: 150px;
  }
  .des-hide {
    display: block;
  }

  .header {
    width: 95%;
    display: block;
    text-align: center;
  }
  
  .head-mobile {
    display: none;
    margin-left: auto;
    color: white;

  }
  .head-nav {
    display: block;
    text-align: center;
    margin-top: 12px;
  }

  .head-nav-img {
    height: 160px;
    width: auto;
  }

  .head-menu a {
    margin-left: 20px;
    font-size: 12px;
  }
  .head-button {
    font-size: 12px;
    padding: 7px 14px;
  }

  .hn-img-left {
    position: absolute;
    height: 100px;
    width: auto;
    left: 0px;
    top: 0;
  }

  .hn-img-right {
    right: 0px;
    width: auto;
    height: 100px;
    top: 0;
    position:absolute;
  }
}

@media screen and (max-width: 500px) {
  .headers {
    height: 120px;
  }
  .head-menu, .head-reg {
    display: none;
  }
  .des-hide {
    display: block;
  }
  .head-nav {
    justify-content: space-between;
  }
  .head-mobile {
    display: block;
    margin-left: auto;
    color: white;

  }
  .head-nav-img {
    height: 120px;
    width: auto;
  }
}
